@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --background-color: #16181c;
    --secondary-color: #26292f;
    --text-color: #dff9fb;
    --accent-color: #ea5c45;
    --link-color: #4791b1;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
    text-align: center;
}

header {
    background-color: var(--background-color);
    padding: 20px;
    text-align: center;
}

hr {
    border: none;
    border-top: 5px solid #ea5c45;
}

/* unvisited link */
a:link {
    color: var(--text-color);
}

/* visited link */
a:visited {
    color: var(--text-color);
}

#main {
    border-radius: 20px;
    background-color: var(--secondary-color);
    padding: 100px;
    width: 1000px;
    margin-top: 200px;
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.3));

}

#serverlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

#patreon {
    border-radius: 20px;
    background-color: var(--secondary-color);
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    width: 1000px;
    margin: 50px;
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.3));

}

.tiers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.join-button {
    background-color: var(--accent-color);
    width: 270px;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    border: none;
    font-size: medium;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.3s ease; /* Add this line */
    cursor: pointer;
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.8));
}

.join-button:hover {
    background-color: #a53f30; /* Change the background color */
    transform: scale(1.04);
}


#server1, #server2, #server3 {
    border-radius: 20px;
    background-color: var(--secondary-color);
    padding: 30px;
    margin: 10px;
    margin-top: 50px;
    width: 290px;
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.3));
}

#server1-link, #server2-link, #server3-link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease-in-out;
}

#server1-link:hover, #server2-link:hover, #server3-link:hover {
    transform: scale(1.02);
}

#t1, #t2, #t3 {
    border-radius: 20px;
    background-color: var(--secondary-color);
    padding: 30px;
    margin: 10px;
    margin-top: 10px;
    width: 290px;
    margin-bottom: 50px;
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.3));
}

#t1-price, #t1-price-code, #t2-price, #t2-price-code, #t3-price, #t3-price-code {
    display: inline-block;
    margin-top: -50px;
}

#perk-list {
    font-size: 16px;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-5%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

#footer {
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.3));
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    width: 1000px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
}

#footer img {
    margin: 0 110px; /* This adds 10px of space to the left and right of each image */
}

#footer a {
    text-decoration: none;
}

.simpleshadow {
    filter: drop-shadow(0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.3));
}

@media only screen and (max-width: 1100px) {
    #main, #patreon {
        width: 90%;
    }
    #footer {
        width: 90%;
    }
    #footer img {
        margin: 0 40px;
    }
    #serverlist {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        gap: 50px;
    }
    .tiers {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        gap: 50px;
    }

}